HOST=127.0.0.1
PORT=3333
NODE_ENV=development

APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=
ALLOW_ORIGIN='*'

DB_CONNECTION=mysql
CLEARDB_DATABASE_URL=mysql://username:password@host:port/database?reconnect=true

SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt
